<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Therr | {{title}}</title>
    <link rel="icon" href="/assets/images/favicon.ico">

    <meta name=viewport content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="description" content="A social network that connects people by proximity through the distance of time">
    <meta name="author" content="Therr">
    <meta name="keywords" content="therr, therr app, therr social network, go therr, mobile, app, social network, chat, therr chat, therr mobile, therr web, hosted chat, geofencing app, social">


    <!-- Stylesheet -->
    <link rel="stylesheet" type="text/css" href="/app.55e22c83860c69648542.css">
</head>

<body>
    <div id="app" class="view">{{{markup}}}</div>
    <script>
        window.__PRELOADED_STATE__ = "{{state}}"
    </script>
    <script src="/app.js"></script>
</body>

</html>
