$profileImgWidth: rem-calc(100px);

#page_user_profile {
    .header-profile-picture {
        width: 100%;
        display: flex;
        position: relative;
        flex-direction: row-reverse;
        height: 4.2rem;

        h1 {
            margin: .2rem .2rem .9rem 2rem;
            font-size: 1.5rem;
            padding-top: 1rem;
            word-break: break-all;
        }

        .user-profile-icon {
            border-radius: 50%;
            position: relative;
            right: 0;
            display: inline;
            top: -1.4rem;
            left: 1rem;
            box-shadow: $box-shadow-tile;
            height: $profileImgWidth;
            width: $profileImgWidth;
            min-height: $profileImgWidth;
            min-width: $profileImgWidth;
        
            img {
                height: $profileImgWidth;
                width: $profileImgWidth;
                min-height: $profileImgWidth;
                min-width: $profileImgWidth;
                border-radius: 50%;
                background: $therr-off-white;
            }
        }
    }

    .account-sections {
        width: 100%;
        flex-direction: column;
        align-items: flex-start;

        .account-section {
            box-sizing: border-box;
            flex: 1;
            width: 100%;
            padding: .5rem 1rem 0;

            h2 {
                width: 100%;
                border-bottom: 1px solid;
                padding: .5rem .75rem;
                box-sizing: border-box;
            }

            &:first-child {
                padding: 1rem 1rem 0;
            }

            &#add_connections {
                #send_request {
                    width: 100%;
                }
            }

            .account-section-content {
                padding: 0 .5rem;
                
                h4 {
                    margin: 1rem 0;
                }
            }

            .user-connections-container {
                padding: 0;
                display: flex;
                flex-wrap: wrap;
                
              
                .user-connection-icon {
                    $userConnectionDimension: rem-calc(100px);

                    position: relative;
                    display: inline;
                    height: $userConnectionDimension;
                    width: $userConnectionDimension;
                    min-height: $userConnectionDimension;
                    min-width: $userConnectionDimension;

                    .name-tag {
                        display: none;
                        text-align: center;
                        position: absolute;
                        bottom: 0;
                        width: 100%;
                        color: $therr-white;
                        background: transparentize($therr-black, .5);
                    }

                    &:hover {
                        cursor: pointer;
                    }

                    &:hover,
                    &:focus {
                        .name-tag {
                            display: block;
                        }
                    }
              
                    img {
                        height: $userConnectionDimension;
                        width: $userConnectionDimension;
                        min-height: $userConnectionDimension;
                        min-width: $userConnectionDimension;
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: $screen-xsmall) {

    .header-profile-picture {
        h1 {
            font-size: 1.5rem;
        }
    }
}

@media only screen and (min-width: $screen-small) {
    #page_user_profile {
        .header-profile-picture {
            width: 100%;
            display: flex;
            position: relative;
            flex-direction: row;


            h1 {
                font-size: 2rem;
                padding-top: 0;
                margin: .9rem 0;
            }
    
            .user-profile-icon {
                border-radius: 50%;
                position: absolute;
                right: 2.9rem;
                left: unset;
                display: inline;
            
                img {
                    height: rem-calc(100px);
                    width: rem-calc(100px);
                    border-radius: 50%;
                    background: $therr-off-white;
                }
            }
        }

        .account-sections {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: flex-start;

            .account-section {
                padding: 1.5rem;
                flex: none;
                width: 50%;

                &:first-child {
                    padding: 1.5rem;
                }

                &#add_connections {
                    width: 100%;
                    
                    #send_request {
                        width: 4rem;
                    }
                }

                .user-connections-container {
                    .user-connection-icon {
                        img {
                            height: rem-calc(100px);
                            width: rem-calc(100px);
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (min-width: $screen-medium) {
    #page_user_profile {
        .account-sections {
            flex-wrap: nowrap;
            justify-content: space-around;

            .account-section {
                flex: 2;

                &#add_connections,
                &#account_details {
                    flex: 1;
                }
            }
        }
    }
}
