<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Rili | {{title}}</title>
    <meta name=viewport content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="keywords" content="">


    <!-- Stylesheet -->
    <link rel="stylesheet" href="/app.4f4526aecec6c5481b56.css">
</head>

<body>
    <div id="app" class="view">{{{markup}}}</div>
    <script>
        window.__PRELOADED_STATE__ = "{{state}}"
    </script>
    <script src="/app.js"></script>
</body>

</html>
