<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Rili | {{title}}</title>
    <meta name=viewport content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="keywords" content="">


    <!-- Stylesheet -->
<<<<<<< HEAD
    <link rel="stylesheet" href="/app.eb489b922de33aefc754.css">
=======
    <link rel="stylesheet" href="/app.35bbe47baf72f2d1575f.css">
>>>>>>> e034e2ab7d46c8ea2ba6a0342a6773a1df566a7a
</head>

<body>
    <div id="app" class="view">{{{markup}}}</div>
    <script>
        window.__PRELOADED_STATE__ = "{{state}}"
    </script>
    <script src="/app.js"></script>
</body>

</html>
