$line-height: .75rem;

.realtime-connections-list {
    $padding-sides: .5rem;

    display: flex;
    flex-direction: column;

    .connection-link-item {
        flex: 1;
        padding: .5rem $padding-sides .5rem $padding-sides;
        display: flex;
        align-items: center;
        border: none;
        background: transparent;
        position: relative;
        margin: 0 -.5rem;
        line-height: $line-height;

        &.right-icon {
            display: flex;
            align-items: center;

            .inline-svg {
                display: none;
                position: absolute;
                right: $padding-sides;

                svg {
                    fill: $therr-primary-2;
                }
            }
        }

        &:hover,
        &:focus {
            &.right-icon {
                .inline-svg {
                    display: inline;
                }
            }
        }

        &::before {
            content: '○';
            color: $therr-alert-neutral;
            padding: 0 .7rem 0 0;
            line-height: $line-height;
            font-size: .625rem;
            line-height: .5rem;
        }

        &.active {
            &::before {
                content: '•';
                color: $therr-alert-success;
                font-size: 2rem;
                margin-left: -.085rem;
                padding: 0 .5rem 0 0;
                line-height: $line-height;
            }
        }
    }
}
