.notifications {
  width: 105%;
  margin-left: -2.5%;

  .notification {
    font-size: .95rem;
    padding: .65rem .5rem .65rem;
    border-bottom: 1px solid $therr-divider-grey;
    margin-bottom: 1px;
    border-left: 5px solid $therr-primary-2;
    background: transparent;

    &.read {
      background: lighten($therr-light-grey, 3%);
      border-left: none;
    }

    &:first-child {
      border-top: 1px solid $therr-divider-grey;
    }

    .action-buttons {
      .action-button {
        border: none;

        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}