@use 'sass:math';

@function rem-calc($size) {
    $remSize: math.div($size, 16px);
    @return #{$remSize}rem;
}

// Scroll
.overflow-scroll {
    overflow-y: scroll;
}

.mb-2 {
    margin-bottom: 1rem;
}
.px-2 {
    padding-right: 1rem;
    padding-left: 1rem;
}
.no-padding {
    padding-right: 0;
    padding-left: 0;

    label {
        padding-right: 0;
        padding-left: 0;
    }
}
.password-requirements {
    border: 2px solid #fcfeff;
    border-radius: 1rem;
    p {
        font-size: 0.75rem;
    }
}

.self-center {
    align-self: auto !important;
}

.justify-center {
    justify-content: center;
}

.justify-start {
    justify-content: flex-start;
}

.justify-end {
    justify-content: flex-end;
}

@media only screen and (min-width: $screen-medium) {
    .password-requirements {
        p {
            font-size: 1rem;
        }
    }
}
