$header-height: 3rem;
$header-height-small: 2.8rem;
$footer-height: 3rem;
$footer-height-small: 2.8rem;

$text-grey: #5f6368;

// Responsiveness Variables
$screen-xsmall: 320px;
$screen-small: 540px;
$screen-medium: 840px;
$screen-large: 1420px;
$screen-xlarge: 1680px;