API_PORT=7770
CLIENT_PORT=7070
URI_WHITELIST=http://dev.rili.world
LOG_LEVEL=debug
NODE_VERSION=12.16.0
PG_DATABASE=rili_db_dev
PG_HOST=rili-postgres
PG_PASSWORD=secret
PG_PORT=5432
PG_USER=riliAdmin
REDIS_NODE_ONE_HOST=rili-redis-pub
REDIS_NODE_ONE_PORT=6379
SECRET=SUPA_DUPA_SECRET_1_39_992_BLEH
SOCKET_PORT=7743