// @import '../../../therr-public-library/therr-styles/lib/variables'; // Default variable definitions
// @import './variables';
// @import './helpers';
// @import './layout/index';

// =========================================================
// * Volt React Dashboard
// =========================================================

// * Product Page: https://themesberg.com/product/dashboard/volt-react
// * Copyright 2021 Themesberg (https://www.themesberg.com)
// * Official Repository: https://github.com/themesberg/volt-react-dashboard
// * License: MIT License (https://themesberg.com/licensing)

// * Designed and coded by https://themesberg.com

// =========================================================

// * The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software. Please contact us to request a removal.

@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,600,700,800&display=swap');
$fa-font-path: '../../../node_modules/@fortawesome/fontawesome-free/webfonts'; 
@import '../../../node_modules/@fortawesome/fontawesome-free/scss/fontawesome';
@import '../../../node_modules/@fortawesome/fontawesome-free/scss/solid';
@import '../../../node_modules/@fortawesome/fontawesome-free/scss/regular';

// Bootstrap mixins and functions
@import "../../../node_modules/bootstrap/scss/mixins";
@import "../../../node_modules/bootstrap/scss/functions";

// Change variables here
@import "volt/variables";

// Bootstrap
@import "../../../node_modules/bootstrap/scss/bootstrap";
@import "../../../node_modules/react-bootstrap-typeahead/css/Typeahead.bs5";

// Vendor
@import "volt/vendor";

// volt mixins & functions
@import "volt/mixins";
@import "volt/functions";

// Utilities
@import "volt/reboot";
@import "volt/utilities";

// Layout
@import "volt/layout";

// Components
@import "volt/components";

// Pages
@import 'pages';

// write your custom styles here!

html,
body {
    margin: 0;
    padding: 0;
}

.content-container,
.content-container-home {
    display: flex;
    flex-direction: column;
    border: none;
    border-radius: 0;
    // border-left: rem-calc(4px) double $therr-primary-2;
    // border-right: rem-calc(4px) double $therr-primary-2;
    padding: 0;
    box-shadow: none;
    box-sizing: border-box;
    min-height: 100vh;

    main:first-of-type {
        display: flex;
        flex-direction: column;
        height: 100%;
        flex: 1;

        #page_login,
        #page_register,
        #page_create_profile {
            flex: 1;
        }
    }
}

.footer {
    padding-left: 1rem;
    padding-right: 1rem;
}

.PhoneInput {
    position: relative;

    .PhoneInputCountry {
        color: #076d5f;
        top: .75rem;
        left: 1rem;
        position: absolute;

        svg {
            position: absolute;
        }
    }

    .PhoneInputCountrySelectArrow {
        display: none;
    }

    input {
        padding-left: 52px;
    }
}

.PhoneInput input {
    margin-bottom: 0.5rem;
}

.PhoneInputInput {
    display: block;
    width: 100%;
    padding: 0.55rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #66799e;
    background-color: #ffffff;
    background-clip: padding-box;
    border: 0.0625rem solid #d1d7e0;
    appearance: none;
    border-radius: 0.5rem;
    box-shadow: inset 0 1px 2px rgba(46, 54, 80, 0.075);
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
