$profileImgWidth: rem-calc(100px);

#page_home {
    .store-image-links {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
    }
}

@media only screen and (min-width: $screen-small) {
    
}
