apiVersion: apps/v1
kind: Deployment
metadata:
  name: api-gateway-service-deployment
  namespace: default
spec:
  replicas: 2
  selector:
    matchLabels:
      component: server-api-gateway
  template:
    metadata:
      labels:
        component: server-api-gateway
        tier: api-gateway
        layer: services-external
    spec:
      serviceAccountName: therr-k8s-service-account
      affinity:
        nodeAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
          - preference:
              matchExpressions:
              - key: cloud.google.com/gke-preemptible
                operator: DoesNotExist
            weight: 100
      containers:
      - name: server-api-gateway
        image: therrapp/api-gateway:latest
        resources:
          limits:
            memory: "128Mi"
            cpu: "50m"
        ports:
        - containerPort: 7770
        env:
        - name: API_GATEWAY_PORT
          value: "7770"
        - name: URI_WHITELIST
          value: "https://therr.com,https://www.therr.com,https://therr.app,https://www.therr.app"
        - name: HONEYCOMB_API_KEY
          valueFrom:
            secretKeyRef:
              name: honeycomb-writekey
              key: HONEYCOMB
        - name: IMAGE_KIT_URL
          value: "https://ik.imagekit.io/qmtvldd7sl/"
        - name: OTEL_EXPORTER_OTLP_PROTOCOL
          value: "grpc"
        - name: MAPS_SERVICE_GOOGLE_CREDENTIALS_BASE64
          valueFrom:
            secretKeyRef:
              name: maps-service-google-app-credentials
              key: MAPS_SERVICE_GOOGLE_APP_CREDENTIALS
        - name: TWILIO_ACCOUNT_SID
          valueFrom:
            secretKeyRef:
              name: twilio-account-sid
              key: TWILIOACCOUNTSID
        - name: TWILIO_AUTH_TOKEN
          valueFrom:
            secretKeyRef:
              name: twilio-auth-token
              key: TWILIOAUTHTOKEN
        - name: TWILIO_SENDER_PHONE_NUMBER
          value: "+14783124948"
        - name: TWILIO_SENDER_PHONE_NUMBER_GB
          value: "+447700158631"
        - name: BUCKET_PUBLIC_USER_DATA
          value: "therr-public-user-data"
        - name: GOOGLE_MAPS_PLACES_SERVER_SIDE_API_KEY
          valueFrom:
            secretKeyRef:
              name: google-maps-places-server-side-api-key
              key: GOOGLE_MAPS_PLACES_SERVER_SIDE_API_KEY
        - name: LOG_LEVEL
          value: "info"
        - name: REDIS_EPHEMERAL_HOST
          value: "redis-ephemeral-cluster-ip-service"
        - name: REDIS_EPHEMERAL_PORT
          value: "6380"
        - name: REDIS_GENERIC_HOST
          value: "redis-cluster-ip-service"
        - name: REDIS_GENERIC_PORT
          value: "6379"
        - name: SHOULD_CACHE_IMAGES
          value: "true"
        - name: JWT_SECRET
          valueFrom:
            secretKeyRef:
              name: therrjwtsecret
              key: THERRJWT_SECRET
        - name: JWT_EMAIL_SECRET
          valueFrom:
            secretKeyRef:
              name: therrjwtemailsecret
              key: THERRJWT_EMAIL_SECRET
