apiVersion: apps/v1
kind: Deployment
metadata:
  name: client-deployment
  namespace: default
spec:
  replicas: 1
  selector:
    matchLabels:
      component: web
  template:
    metadata:
      labels:
        component: web
        tier: frontend
        layer: services-external
    spec:
      affinity:
        nodeAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
          - preference:
              matchExpressions:
              - key: cloud.google.com/gke-preemptible
                operator: Exists
            weight: 100
      nodeSelector:
        cloud.google.com/gke-preemptible: "true"
      containers:
      - name: web
        image: therrapp/client-web:latest
        resources:
          limits:
            memory: "128Mi"
            cpu: "100m"
        ports:
        - containerPort: 7070
        - containerPort: 7071
        env:
          - name: USERS_SERVICE_API_PORT
            value: "7771"
          - name: CLIENT_PORT
            value: "7070"
          - name: CLIENT_DASHBOARD_PORT
            value: "7071"
          - name: HONEYCOMB_API_KEY
            valueFrom:
              secretKeyRef:
                name: honeycomb-writekey
                key: HONEYCOMB
          - name: LOG_LEVEL
            value: "info"
          - name: SOCKET_PORT
            value: "7743"
