apiVersion: apps/v1
kind: Deployment
metadata:
  name: users-service-deployment
  namespace: default
spec:
  replicas: 2
  selector:
    matchLabels:
      component: server-users
  template:
    metadata:
      labels:
        component: server-users
        tier: microservices
        layer: services-internal
    spec:
      serviceAccountName: therr-k8s-service-account
      affinity:
        nodeAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
          - preference:
              matchExpressions:
              - key: cloud.google.com/gke-preemptible
                operator: DoesNotExist
            weight: 100
      containers:
      - name: server-users
        image: therrapp/users-service:latest
        resources:
          limits:
            memory: "192Mi"
            cpu: "200m"
        ports:
        - containerPort: 7771
        env:
        - name: AWS_SES_ACCESS_KEY_ID
          valueFrom:
            secretKeyRef:
              name: aws-ses-access-key-id
              key: AWSSESACCESSKEYID
        - name: AWS_SES_ACCESS_KEY_SECRET
          valueFrom:
            secretKeyRef:
              name: aws-ses-access-key-secret
              key: AWSSESACCESSKEYSECRET
        - name: AWS_SES_REGION
          value: "us-east-2"
        - name: AWS_SES_FROM_EMAIL
          value: 'info@therr.com'
        - name: AWS_FEEDBACK_EMAIL_ADDRESS
          value: "info@therr.com"
        - name: USERS_SERVICE_API_PORT
          value: "7771"
        - name: URI_WHITELIST
          value: "https://therr.com,https://www.therr.com,https://therr.app,https://www.therr.app"
        - name: HONEYCOMB_API_KEY
          valueFrom:
            secretKeyRef:
              name: honeycomb-writekey
              key: HONEYCOMB
        - name: FACEBOOK_APP_ID
          value: "1384683965734062"
        - name: FACEBOOK_APP_SECRET
          valueFrom:
            secretKeyRef:
              name: facebook-app-secret
              key: FACEBOOKAPPSECRET
        - name: INSTAGRAM_APP_ID
          value: "8038208602859743"
        - name: INSTAGRAM_APP_SECRET
          valueFrom:
            secretKeyRef:
              name: instagram-app-secret
              key: INSTAGRAMAPPSECRET
        - name: LOG_LEVEL
          value: "info"
        - name: REDIS_PUB_HOST
          value: "redis-cluster-ip-service"
        - name: REDIS_PUB_PORT
          value: "6379"
        - name: TIKTOK_CLIENT_KEY
          valueFrom:
            secretKeyRef:
              name: tiktok-client-key
              key: TIKTOKCLIENTKEY
        - name: TIKTOK_APP_SECRET
          valueFrom:
            secretKeyRef:
              name: tiktok-app-secret
              key: TIKTOKAPPSECRET
        - name: DB_USER_MAIN_WRITE
          value: "therrAppUser"
        - name: DB_HOST_MAIN_WRITE
          value: "127.0.0.1"
        - name: DB_PORT_MAIN_WRITE
          value: "5432"
        - name: DB_PASSWORD_MAIN_WRITE
          valueFrom:
            secretKeyRef:
              name: db-password-app
              key: DB_PASSWORD_APP_WRITE
        - name: DB_USER_MAIN_READ
          value: "therrAppUser"
        - name: DB_HOST_MAIN_READ
          value: "127.0.0.1"
        - name: DB_PORT_MAIN_READ
          value: "5432"
        - name: DB_PASSWORD_MAIN_READ
          valueFrom:
            secretKeyRef:
              name: db-password-app
              key: DB_PASSWORD_APP_READ
        - name: GOOGLE_MAPS_PLACES_SERVER_SIDE_API_KEY
          valueFrom:
            secretKeyRef:
              name: google-maps-places-server-side-api-key
              key: GOOGLE_MAPS_PLACES_SERVER_SIDE_API_KEY
        - name: PLAID_SECRET_KEY
          valueFrom:
            secretKeyRef:
              name: plaid-secret-key
              key: PLAIDSECRETKEY
        - name: USERS_SERVICE_DATABASE
          value: "therr_users_service_db"
        - name: JWT_SECRET
          valueFrom:
            secretKeyRef:
              name: therrjwtsecret
              key: THERRJWT_SECRET
        - name: STRIPE_WEBHOOK_SIGNING_SECRET
          valueFrom:
            secretKeyRef:
              name: stripe-webhook-secret
              key: STRIPEWEBHOOKSECRET
        - name: STRIPE_SECRET_KEY
          valueFrom:
            secretKeyRef:
              name: stripe-secret-key
              key: STRIPESECRETKEY
        - name: TWILIO_ACCOUNT_SID
          valueFrom:
            secretKeyRef:
              name: twilio-account-sid
              key: TWILIOACCOUNTSID
        - name: TWILIO_AUTH_TOKEN
          valueFrom:
            secretKeyRef:
              name: twilio-auth-token
              key: TWILIOAUTHTOKEN
        - name: TWILIO_SENDER_PHONE_NUMBER
          value: "+14783124948"
        - name: TWILIO_SENDER_PHONE_NUMBER_GB
          value: "+447700158631"
        - name: TWITTER_APP_BEARER_TOKEN
          valueFrom:
            secretKeyRef:
              name: twitter-app-bearer-token
              key: TWITTERAPPBEARERTOKEN
        - name: JWT_EMAIL_SECRET
          valueFrom:
            secretKeyRef:
              name: therrjwtemailsecret
              key: THERRJWT_EMAIL_SECRET
      - name: cloud-sql-proxy
        # It is recommended to use the latest version of the Cloud SQL proxy
        # Make sure to update on a regular schedule!
        image: gcr.io/cloudsql-docker/gce-proxy:1.33.14
        resources:
          limits:
            memory: "64Mi"
            cpu: "50m"
        command:
          - "/cloud_sql_proxy"

          # If connecting from a VPC-native GKE cluster, you can use the
          # following flag to have the proxy connect over private IP
          # - "-ip_address_types=PRIVATE"

          # Replace DB_PORT with the port the proxy should listen on
          # Defaults: MySQL: 3306, Postgres: 5432, SQLServer: 1433
          - "-instances=therr-app:us-central1:psql-main-db-prod=tcp:5432"
        securityContext:
          # The default Cloud SQL proxy image runs as the
          # "nonroot" user and group (uid: 65532) by default.
          runAsNonRoot: true
