// NOTE: Variables in theme files will overwrite the default variables defined in the underlying library //

//// Color ////
///////////////

// Therr Base Common Colors
$therr-background-black: #1C7F8A !default;
$therr-black: #021010 !default;
$therr-white: #fcfeff !default;
$therr-off-white: #fafbfb !default;
$therr-input-focus-color: #ade0b9 !default;
$therr-input-focus-shadow: rgba(14, 56, 24, .1) !default;
$therr-input-valid-shadow: rgba(3, 72, 20, .1) !default;
$therr-background: #f8fbfb !default;
$therr-text-a: $therr-off-white !default;
$therr-text-b: $therr-black !default;

// Therr Base Primary Colors
$therr-primary-1: #1C7F8A !default;
$therr-primary-2: #387a82 !default;
$therr-primary-3: #00B64F !default;
$therr-primary-4: #0d636d !default;

// Therr Base Secondary Colors
$therr-secondary-1: #143b54 !default;
$therr-secondary-2: #FF6239 !default;
$therr-secondary-3: #95E934 !default;
$therr-secondary-4: #2ABA69 !default;

// Therr Base Tertiary Colors
$therr-tertiary-1: $therr-background !default;

// Therr Base Alert Palette
$therr-alert-success: #38d935 !default;
$therr-alert-neutral: #058279 !default;
$therr-alert-warning: #FF8463 !default;
$therr-alert-error: #AA0042 !default;

// Therr Base Shades of Grey
$therr-bg-grey: #f8f8f8 !default;
$therr-hover-grey: #f0f0f0 !default;
$therr-light-grey: #e5e5e5 !default;
$therr-divider-grey: #cdcdcd !default;
$therr-ghost-grey: #767676 !default;
$therr-middle-grey: #666666 !default;
$therr-light-on-dark-grey: #8c8c8c !default;
$therr-dark-grey: #404040 !default;
$therr-very-dark-grey: #262626 !default;

// Colors by name
$therr-red: #fe0156 !default;

// Therr Base Anchor Colors
$therr-link-1: #E4D05E !default;
$therr-link-blue-2: #E4D05E !default;
$therr-link-hover: #2ca6c1 !default;

// Therr AX UI Colors
$therr-ax-positive: #007d2c !default;
$therr-ax-negative: #c23e37 !default;
$therr-ax-tab-highlight-1: #006dc7 !default;
$therr-ax-tab-highlight-light-2: #2f8df7 !default;


//// Miscelaneous ////
//////////////////////

// Accesibility
$box-shadow-ax: 0 0 0 .125rem $therr-ax-tab-highlight-1 inset !default;
$therr-input-shadow: inset 0 0 0 .25rem $therr-input-focus-shadow !default;
$therr-input-shadow-valid: inset 0 0 0 .25rem $therr-input-valid-shadow !default;

// Shadows
$box-shadow-1: rgba(0, 0, 0, 0.2) 0px 1px 3px 0px, rgba(0, 0, 0, 0.14) 0px 1px 1px 0px, rgba(0, 0, 0, 0.12) 0px 2px 1px -1px;
$box-shadow-tile: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12), 0px -2px 10px 4px rgba(0, 0, 0, 0.12);
$box-shadow-fixed-top: 0px 2px 4px -1px rgba(0,0,0,0.2), 0px 4px 5px 0px rgba(0,0,0,0.14), 0px 1px 10px 0px rgba(0,0,0,0.12);
$box-shadow-fixed-bot: 0px 2px 4px 1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);

// Animation
$animation-duration-1: 250ms !default;
$animation-duration-2: 500ms !default;
