// Local variables will overwrite library defaults
@import url('https://fonts.googleapis.com/css2?family=Lexend');
@import './variables';
@import '../../../../../therr-public-library/therr-styles/lib';
@import './forms';
@import '../../root';

html {
  background: $therr-tertiary-1;
  background-size: cover;
  -webkit-background-size: cover;
  background-repeat: inherit;
}

html, body {
  font-family: 'Lexend', sans-serif;
}

button {
  &.primary {
    box-shadow: 0 0 2px 0px #0000001f;
  }
}
