.notifications {
  .notification {
    font-size: .95rem;
    padding-bottom: .75rem;
    border-bottom: 1px solid $rili-divider-grey;
    margin-bottom: .75rem;

    .action-buttons {
      .action-button {
        border: none;

        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}