@import '../variables';

.radio-group {

  .radio-option {
    display: flex;
    flex-direction: row;
    align-items: center;

    input[type="radio"] {
      display: none;
    }

    .psuedo-label {
      text-align: left;
      flex: 1;
      order: 2;
      font-weight: 400;
      padding: .375rem 0 .375rem .25rem;

      &:hover {
        cursor: pointer;

        + label {
          &::before {
            display: inline;
            background: $bb-ghost-grey;
          }

          &.selected {
            &::before {
              background: $bb-black;
            }
          }
        }
      }
    }

    label {
      margin: .375rem .25rem .375rem 0;
      order: 1;
      position: relative;
      height: 1rem;
      width: 1rem;
      background: $bb-white;
      float:left;
      border-radius: 50%;
      cursor: pointer;
      border: 1px solid $bb-grey-default;
      box-sizing: content-box;

      &.selected {
        background: $bb-green;
        &::before {
          display: inline;
          background: $bb-black;
        }
      }

      &:hover {
        &::before {
          display: inline;
          background: $bb-ghost-grey;
        }

        &.selected {
          &::before {
            background: $bb-black;
          }
        }
      }

      &::before {
        display: none;
        content: '';
        position: absolute;
        top: 4px;
        left: 4px;
        height: 8px;
        width: 8px;
        background: $bb-black;
        border-radius: 50%;
      }
    }
  }
}
