<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>718962923226-1rhet8adgsvuviutj7ja2006bhcncr87.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.718962923226-1rhet8adgsvuviutj7ja2006bhcncr87</string>
	<key>API_KEY</key>
	<string>AIzaSyALaeMTG3letsShjqTRfz_bgkoQq-JFCzw</string>
	<key>GCM_SENDER_ID</key>
	<string>718962923226</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.therr.mobile.Therr</string>
	<key>PROJECT_ID</key>
	<string>therr-app</string>
	<key>STORAGE_BUCKET</key>
	<string>therr-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:718962923226:ios:16384de78f32ec3c3077e3</string>
</dict>
</plist>