<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="app.therrmobile"
  xmlns:tools="http://schemas.android.com/tools">

    <!-- <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" /> -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET" />

    <application
      android:name=".MainApplication"
      android:label="@string/app_name"
      android:icon="@mipmap/ic_launcher"
      android:roundIcon="@mipmap/ic_launcher_round"
      android:theme="@style/AppTheme"
      android:usesCleartextTraffic="true">
      <activity
        android:name=".MainActivity"
        android:label="@string/app_name"
        android:configChanges="keyboard|keyboardHidden|orientation|screenSize|uiMode"
        android:launchMode="singleTask"
        android:windowSoftInputMode="adjustResize"
        android:screenOrientation="portrait">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
        <intent-filter android:label="@string/filter_view_https_therr">
          <action android:name="android.intent.action.VIEW" />
          <category android:name="android.intent.category.DEFAULT" />
          <category android:name="android.intent.category.BROWSABLE" />
          <!-- Accepts URIs that begin with "http://www.therr.com -->
          <data android:scheme="https"
                android:host="www.therr.com"  />
          <!-- note that the leading "/" is required for pathPrefix-->
          <data android:scheme="https"
                android:host="therr.com"  />
          <!-- note that the leading "/" is required for pathPrefix-->
        </intent-filter>
      </activity>

      <activity android:name="com.facebook.react.devsupport.DevSettingsActivity" />
      <meta-data
        android:name="com.google.android.geo.API_KEY"
        android:value="${GOOGLE_APIS_ANDROID_KEY}"
      />
      <meta-data
        android:name="com.google.firebase.messaging.default_notification_icon"
        android:resource="@drawable/ic_notification_icon"
        tools:replace="android:resource"
      />
      <meta-data
        android:name="com.google.firebase.messaging.default_notification_color"
        android:resource="@color/therr_blue"
        tools:replace="android:resource"
      />
      <uses-library android:name="org.apache.http.legacy" android:required="false"/>
    </application>
</manifest>
