header {
    z-index: 100;
    align-items: center;
    background: $rili-primary-1;
    display: flex;
    height: $header-height;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: $box-shadow-fixed-top;

    .login-link,
    .logout-button {
        position: absolute;
        right: 1rem;
        cursor: pointer;

        a {
            color: $rili-white;
            text-decoration: none;
            font-weight: bold;
        }
    }
}

