header {
    z-index: 90;
    align-items: center;
    background: $therr-primary-1;
    display: flex;
    height: $header-height-small;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: $box-shadow-fixed-top;
    border-bottom: rem-calc(4px) solid $therr-primary-2;

    #therr {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 7.5rem;
        font-size: rem-calc(21px);
        color: $therr-white;
        letter-spacing: .15rem;
        text-shadow: rem-calc(11px) rem-calc(9px) rem-calc(2px) $therr-black;

        #therr_svg_button {
            background: transparent;
            padding: 0;
            width: rem-calc(34px);
            margin-right: .75rem;

            .therr-icon {
                path {
                    stroke: transparent !important;
                }

                g {
                    fill: $therr-white !important;
                }
            }
        }
    }

    .login-link,
    #header_account_button {
        position: absolute;
        right: 1rem;
        cursor: pointer;

        a {
            color: $therr-white;
            text-decoration: none;
            font-weight: bold;
        }
    }

    .login-link {
        a {
            font-weight: 400;
        }
    }

    #header_account_button {
        width: 5rem;

        &.has-notifications {
            box-shadow: 0px 0px 2px 1px transparentize($therr-white, .75);
        }
    }
}

@media only screen and (min-width: rem-calc(540px)) {
    header {
        height: $header-height;

        #header_account_button {
            width: 7rem;
        }
    }
}
