@import './nav-menu/index';
@import './header';
@import './footer/index';
@import './formatting';
@import './alerts';
@import '../pages';

html {
    background: $therr-background;
}

html,
body {
    color: $therr-text-a;
    font-family: sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
}

h1 {
    margin: .9rem 0;
    font-weight: 400;
}

h2 {
    font-weight: 400;
    // width: 100%;
    // border-bottom: 1px solid;
    // padding: .5rem .75rem;
    // box-sizing: border-box;
}

h4 {
    font-weight: 100;
}

#login_button {
    width: 100%;
}

.content-container {
    background: $therr-background-black;
    border: rem-calc(1px) solid $therr-primary-2;
    border-radius: .5rem;
    // border-left: rem-calc(4px) double $therr-primary-2;
    // border-right: rem-calc(4px) double $therr-primary-2;
    margin: ($header-height-small + 2.2rem) 1rem;
    padding: .5rem 1rem;
    box-shadow: $box-shadow-tile;
}

@media only screen and (min-width: $screen-small) {
    .content-container {
        margin: ($header-height + 2rem) 3rem;
        padding: .5rem 1.2rem 1rem 1.2rem;
    }
}

@media only screen and (min-width: rem-calc($screen-medium)) {
    .content-container {
        margin: ($header-height + 5rem) 5rem;
        padding: .5rem 1.2rem 1rem 1.2rem;
        border-radius: 1.6rem;
    }
}
hr {
    border-color: $therr-primary-1;
    border-width: rem-calc(2px);
    border-style: solid;
}

.form-field-wrapper {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;

    &.inline {
        display: inline-flex;
        justify-content: center;
        align-items: center;
    }

    :nth-child(1).form-field {
        flex: 1;
        margin: 0 .25rem 1rem .5rem;
    }

    :nth-child(2).form-field {
        margin: 0 .5rem 1rem .25rem;
        button {
            width: 4rem;
        }
    }
}

ul {
    &#list {
        padding-bottom: 4rem;
        background: none;
    }
}

.desktop-only {
    display: none;
}

@media only screen and (min-width: rem-calc(540px)) {
    .desktop-only {
        display: unset;

        &.block {
            display: block;
        }

        &.inline {
            display: inline;
        }
    }
}

