.tile_wrapper {
    flex-basis: 98%;
    padding: rem-calc(24px) 1%;
}

#like_button {
    min-width: 2.15rem;
    width: 2.15rem;
    padding: rem-calc(5px);
    background: transparent;
    box-shadow: none;
}

.tile {
    width: 100%;
    color: #6a7071;
    background-color: $therr-white;
    padding: rem-calc(12px);
    border-color: $therr-light-grey;
    border: solid;
    border-width: rem-calc(2px);
    border-radius: rem-calc(16px);
    box-sizing: border-box;
}

.tile-username {
    color: #393C3C
}

.tile-image {
    width: 100%;
    max-height: 70%;
}

.tile-lower-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tile-title {
    display: flex;
    justify-content: center;
    padding: 0.5rem;
    margin: 0;
}

.tile-message {
    padding: 0.75rem;
    margin: 0;
}

.tile-button-liked,
.tile-button-unliked {
    
}

.tile-button-liked {
    .inline-svg {
        svg {
            fill: $therr-red;
        }
    }
}

.tile-button-unliked {
    .inline-svg {
        svg {
            fill: $therr-red;
        }
    }
}

@media only screen and (min-width: $screen-medium) {
    .tile_wrapper {
        flex-basis: 48%;
        padding: rem-calc(24px) 1%;
    }
}


@media only screen and (min-width: $screen-mlarge) {
    .tile_wrapper {
        flex-basis: 31.33%;
        padding: rem-calc(24px) 1%;
    }
}
