$messaging-container-height: rem-calc(400px);
$messaging-toggle-width: 4.4rem;
$messaging-toggle-width-sm: 2rem;
$messaging-side-margin: 1rem;
$messaging-side-margin-half: .5rem;
$messaging-side-padding: .75rem;
$messaging-top-padding: .5rem;
$messaging-space-padding: .5rem;
$border-color: rgba(0, 0, 0, .12);

footer {
    .messaging-container {
        display: flex;
        flex-direction: column;
        max-height: calc(100vh - #{$footer-height-small} - #{$header-height-small});
        height: calc(100vh - #{$footer-height-small} - #{$header-height-small});
        width: 100%;
        box-shadow: none;
        box-sizing: border-box;
        text-align: left;
        border: 0;
        border-radius: 0;
        position: absolute;
        background: $therr-white;
        color: $therr-black;
        top: calc(-100vh + #{$header-height-small} + #{$footer-height-small});
        bottom: $footer-height-small;
        left: -100%;
        transition: left .15s cubic-bezier(.4,0,.2,1);

        &.open {
            left: 0;
        }

        .dms-header {
            padding: $messaging-top-padding $messaging-side-padding $messaging-space-padding $messaging-side-padding;
            border-bottom: 1px solid $border-color;
        }

        .dms-body {
            flex: 1;
            padding: $messaging-side-padding;
            overflow-y: scroll;

            .dms-list {
                padding: 0;
                margin: 10;
                display: 'flex';
                font-size: rem-calc(17px);
                list-style-type: none;
                margin-bottom: 1.5rem;
                flex-direction: 'column';
                flex: 1;
        
                li:last-child {
                    margin-bottom: 1rem;
                }

                .dm-item {
                    display: flex;
                    flex-direction: column;
                    padding: rem-calc(5px) rem-calc(12px);
                    border-radius: rem-calc(14px);
                    margin-bottom: rem-calc(7px);
                    margin-left: 2%;
                    margin-right: 2%;

                    .dm-date {
                        font-size: rem-calc(10px);
                    }
                }

                .message-left {
                    margin-right: 40%;
                    background-color: $therr-primary-2;
                    color: $therr-off-white;
                    align-self: flex-start;
                }

                .message-right {
                    margin-left: 40%;
                    background-color: $therr-light-grey;
                    align-self: flex-end;

                    .dm-message {
                        text-align: right;
                    }

                    .dm-date {
                        text-align: right;
                    }
                }
            }

            .dms-first-info {
                text-align: center;
            }
        }

        .dms-input {
            position: relative;
            box-sizing: border-box;
            padding: $messaging-space-padding $messaging-side-padding $messaging-top-padding $messaging-side-padding;
        }
    }
}

@media only screen and (min-width: rem-calc(540px)) {
    footer {
        .messaging-container {
            max-height: calc(100vh - 1rem);
            top: unset;
            height: $messaging-container-height;
            width: rem-calc(360px);
            box-shadow: $box-shadow-tile;
            box-sizing: border-box;
            text-align: left;
            border: 1px solid $border-color;
            border-radius: .125rem;
            position: absolute;
            background: $therr-white;
            color: $therr-black;
            bottom: -$messaging-container-height;
            left: $messaging-side-margin + $messaging-toggle-width + .75rem;
            transition: bottom .15s cubic-bezier(.4,0,.2,1);

            &.open {
                bottom: .5rem;
                left: $messaging-side-margin + $messaging-toggle-width + .75rem;
            }
        }
    }
}
