// Local variables will overwrite library defaults
@import './variables';
@import '../../../../../therr-public-library/therr-styles/lib';
@import './forms';
@import '../../root';

html {
  background: $therr-background;
  background-size: cover;
  -webkit-background-size: cover;
  background-repeat: inherit;
}

button.primary {
  background: $therr-background;

  &:hover:not([disabled]) {
    background: $therr-primary-4;
  }
}