// Local variables will overwrite library defaults
@import './variables';
@import '../../../../../rili-public-library/styles/lib';
@import '../../root';

html {
  background: $rili-tertiary-1;
  background-size: cover;
  -webkit-background-size: cover;
  background-repeat: inherit;
}