@import '../../../rili-public-library/styles/lib/variables';

@function rem-calc($size) {
    $remSize: $size / 16px;
    @return #{$remSize}rem;
}

html, body {
    font-size: 16px;
    background: $rili-grey-default;
    font-family: sans-serif;
}

body {
    border: rem-calc(4px) solid $rili-green;
    border-radius: rem-calc(14px);
    padding: 1rem;
}

hr {
    border-color: $rili-green;
    border-width: rem-calc(2px);
    border-style: solid;
}

footer {
    bottom: 0;
    position: fixed;
    width: 100%;
    text-align: center;
}

.form-field-wrapper {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;

    &.inline {
        display: inline-flex;
        justify-content: center;
        align-items: center;
    }

    :nth-child(1).form-field {
        flex: 1;
        margin: 0 .25rem 1rem .5rem;
    }

    :nth-child(2).form-field {
        margin: 0 .5rem 1rem .25rem;
        button {
            width: 4rem;
        }
    }
}

#rooms_list {
    padding: 1rem .5rem;
    display: block;
    text-align: center;
}

ul {
    &#list {
        padding-bottom: 4rem;
    }
}