@import '../../../rili-public-library/styles/lib/variables';

html, body {
    font-size: 16px;
    background: $rili-grey-default;
    font-family: sans-serif;
}

hr {
    border-color: $rili-purple;
    border-width: rem-calc(2px);
    border-style: solid;
}